<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="todaysorders_index_index" frontName="todaysorders_index_index">
            <module name="Perspective_TodaysOrders"/>
        </route>
        <route id="todaysorders" frontName="todaysorders">
            <module name="Perspective_TodaysOrders"/>
        </route>
    </router>
</config>